@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-whale-dark text-ocean-50 min-h-screen antialiased;
}

/* Custom Scrollbar for "Deep Ocean" feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-whale-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-whale-surface rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-ocean-700;
}


